

<header class="text-white">
    <div class="table">
      <div class="cell">
        <h1> غلاف </h1>
        <p>إذا شعرت وأنت تقلب الصفحة الأخيرة في الكتاب الذي تقرأه أنك فقدت صديقاً عزيزاً فأعلم أنك قد قرأت كتاباً رائعا</p>
        <div class="col-sm-6 offset-md-3">
            <div class="input-group">
              <div class="input-group-prepend border-0">
                <span class="input-group-text pr-3 pl-3 text-white" id="" aria-label="Large">بحث 
                </span>
              </div>
              <input type="text" class="form-control text-gray text-right" placeholder="يمكنك البحث باسم الكتاب او المؤلف">
            </div>
        </div>
      </div>
    </div>
  </header>