nav{
    i{
        color: white;
    }
    background-color: #533a4f;
    .navbar-brand{
        font-family: Alfarooq-Regular;
        color: white;
        font-family: Abdo Logo;
        font-size: 30px;
        margin-right: 0px;
    }
    
    a{
        font-family: Noto Naskh Arabic;
        color: white;
        
    }

    a:hover ,a:focus{
        color: #177777;
    }
    
    .compactive{
        color: white;
    }
}
