h6{
	font-family:  paragrafs;
}
h5{
	font-family:  paragrafs;
	display: inline;
    margin-left: 32px;
}
.card.mb-4{
	border: none;
}
.fa-star:before{
	color:yellow;
}
.far.fa-heart{
	font-size: 2rem;
    color: #177777;
    position: absolute;
    bottom: 150px;
    left: 80px;
}
.image-container{
    position: relative;
}
.card-img-top{
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}
.overlay{
	transition: .5s ease;
  	opacity: 0;
 	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.image-container:hover .card-img-top {
  opacity: 0.3;
}
.image-container:hover .overlay {
  opacity: 1;
}