.row{
	justify-content: center;
}
h6{
	font-family:  paragrafs;
	display:inline-block;
}
h5{
	font-family:  paragrafs;
	display: inline;
}
.card.mb-4{
	border: none;
}
.fa-star:before{
	color:yellow;
}
.icons{
	color: #177777;
}
.image-container{
    position: relative;
}
img{
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.image-container:hover img{
  opacity: 0.7;
cursor: pointer;
}
.image-container:hover .overlay {
  opacity: 1;
}
img{
	height:250px;
}
.card-body.p-0{
	text-align:right;
}
.info{
	float:left;
}
.rate{
	float:left;
	font-size: 0.8rem;
}
.addToCart{
	display:none;
}
@media (max-width: 992px){
 	.addToCart{
 		display:initial;
 		float:left;
 		color:#177777;
 		font-size:20px;
 	}
 	.overlay{
 		display:none;
 	}
 	.image-container:hover img {
	  	opacity: 1;
	}
 }